<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bonk Shop </title>
    <link rel="stylesheet" href="../assets/style/index.css">
</head>
<body>
    <%- include('./header'); %>
    <div class="sort">
        <input type="radio" id="croissant" name="sort" value="price" checked>
        <label for="croissant"> Prix (croissant) </label>
        <input type="radio" id="decroissant" name="sort" value="price">
        <label for="decroissant"> Prix (décroissant) </label>
    </div>

    <div class="items">
        <% products.forEach(function(item) { %>
            <div class="item">
                <div class="images">
                    <img src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
                    <img class="underlay" src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
                </div>
                <div class="infos">
                    <p> <%= item.Name %> </p>
                    <div class="price"> 
                        <p class="reduction"> <%= item.Price %> </p>
                        <p> <%= item.Promo %> </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

    <%- include('./footer'); %>
</body>
</html>