<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bonk Shop </title>
    <link rel="stylesheet" href="../assets/style/item.css">
    <link rel="stylesheet" href="../assets/style/header.css">
</head>
<body>
    <header>
        <%- include('./header'); %>
        <div class="side">
            <%- include('./side'); %>
        </div>
    </header>
    <script src="../assets/script/header.js"></script>
    <div class="content">
        <div class="pictures">
            <div class="carousel">
                <div class="left-arrow arrow"></div>
    
                <img src="<%= produit.images[0].path %>">
    
                <div class="right-arrow arrow"></div>
            </div>
            <div class="previews">
                <img src="<%= produit.images[0].path %>">
    
                <img src="<%= produit.images[1].path %>">
    
                <img src="<%= produit.images[2].path %>">
            </div>
        </div>
        
        <div class="specs">
            <div class="name-price">
                <p> <%= produit.Name %> </p>
                <div class="prices">
                    <div class="price">
                        <p class="reduction"> -30% </p>
                        <p> <%= produit.Promo %> € </p>
                    </div>
                    <p> Ancien prix : <%= produit.Price %> </p>
                </div>
            </div>
        
            <div class="choix">
                <input type="radio" id="taille1" name="taille" value="taille1" checked>
                <label for="taille1"> 30x40cm </label>
                <input type="radio" id="taille2" name="taille" value="taille2">
                <label for="taille2"> 40x60cm </label>
                <input type="radio" id="taille3" name="taille" value="taille3">
                <label for="taille3"> 60x80cm </label>
            </div>
        
            <div class="shop">
                <a class="panier" href="/cart"> Ajouter au panier </a>
                <a class="favoris" href="#"> <img src="../assets/img/icons/heart_plus.svg"> </a>
            </div>
        
            <div class="details">
                <p> Details du produit : </p>
                <div class="desc">
                    <p> <%= produit.Description %> </p>
                    <p class="plus"> Voir plus </p>
                </div>
            </div>
        </div>
    </div>

    <p class="maybe"> Vous aimerez aussi : </p>
    <div class="suggestions">
        <% recommendations.forEach(item => { %>
        <div class="item">
            <div class="images">
                <img src="<%= item.images[0].path %>">
                <img class="underlay" src="<%= item.images[1].path %>">
            </div>
            <div class="infos">
                <p> <%= item.Name %> </p>
                <div class="price"> 
                    <% if(item.Promo != item.Price) { %> <p class="reduction"> <%= item.Price %> € </p> <% } %>
                    <p> <%= item.Promo %></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <script src="../assets/script/item.js"></script>
</body>
</html>